.heading{
    background-color: rgb(241, 237, 237);
    text-align: center;
}
.img{
    border-radius: 50%;
    box-shadow: 0 0 4px 3px #ccc;
  
}

.edge{

    margin-top: -8px;
    float:right;
    
   
}
.avatar{
    border:3px solid darkgray;
    
}
ion-fab-button{
    box-shadow: none;
    border:none;
    padding: auto;
}


