<ion-header>
  <ion-toolbar>
    <ion-input placeholder="search..."></ion-input>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
    
  
  
  <ion-chip>
    <ion-icon name="image"></ion-icon>
    <ion-label>Photos</ion-label>
  </ion-chip>
</ion-col>
<ion-col>
  <ion-chip>
    <ion-icon name="videocam"></ion-icon>
    <ion-label>Videos</ion-label>
  </ion-chip>
</ion-col>
<ion-col>
  <ion-chip>
    <ion-icon name="link"></ion-icon>
    <ion-label>Links</ion-label>
  </ion-chip>
</ion-col>
</ion-row>
  <ion-row>
    <ion-col>

  
  <ion-chip>
    <ion-icon name="easel"></ion-icon>
    <ion-label>GIFs</ion-label>
  </ion-chip>
</ion-col>
<ion-col>
  <ion-chip>
    <ion-icon name="headset"></ion-icon>
    <ion-label>Audio</ion-label>
  </ion-chip>
</ion-col>
<ion-col>
  <ion-chip>
    <ion-icon name="document-text"></ion-icon>
    <ion-label>Documents</ion-label>
  </ion-chip>
</ion-col>

</ion-row>
</ion-grid>
  </ion-toolbar>
</ion-header>
  

